*{
    padding: 0;
    margin: 0;
}
.wrapper{
    margin: 0 auto;
    width: 90%;
    border: 1px solid #000;
    height: 700px;
}
.header{
    border: 1px solid #ff80ff;
    height: 160px;
    width: 100%;
    background-color: #ff1a8c;
}
.header img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.menu{
    border: 1px soid #1aff8c;
    height: 50px;
    width: 100%;
    background: #00e6ac;
}
.main{
    border: 1px solid #00ff80;
    height: 400px;
    width: 100%;
}
.sidebar{
    border: 1px solid #000066;
    height: 390px;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}
.maincontent{
    border: 1px solid #ff0000;
    height: 390px;
    width: 79%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}
.footer{
    border: 1px solid #ff1a8c;
    height: 88px;
    width: 100%;
    background: #00cc99;
}
.clear{
    clear: both;
}